<nav class="navbar navbar-mobile">
  <div class="container nav-container">
    <a href="/index.html" class="nav-brand">
      <img src="/assets/images/Solid-Product-Design-logo-stacked-black.png" alt="Solid Product Design" class="logo logo-default">
      <img src="/assets/images/Solid-Product-Design-logo-horizontal-black.png" alt="Solid Product Design" class="logo logo-horizontal">
    </a>
    
    <ul class="nav-menu" id="nav-menu">
      <li><a href="/work.html" class="nav-link">Work</a></li>
      <li><a href="/about.html" class="nav-link">About</a></li>
      <li><a href="/services.html" class="nav-link">Services</a></li>
      <li><a href="/contact.html" class="nav-link">Contact</a></li>
    </ul>
    
    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>